@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.nav_bg{
  /* background-color: crimson; */
}
.navbar-brand{
  color: blue;
}
.custom-color{
  color:purple;
}
.menu_active{
  border-bottom: 2px solid red;
}
.btn-get-started{
  color: blue;
  background-color: transparent;
  border-radius: 30%;
  padding: 10px 18px;
  text-decoration: none;
  border: 1px solid cyan;
}
.animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
a {
  color: #0d6efd;
  text-decoration: none;
}
a {
  color: #0d6efd;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}